<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>A-MEAN Academy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="assets/fonts/iconsmind-s/css/iconsminds.css" />
    <link rel="stylesheet" href="assets/fonts/simple-line-icons/css/simple-line-icons.css" />

    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.rtl.only.min.css" />
    <link rel="stylesheet" href="assets/css/vendor/bootstrap-float-label.min.css" />
    <link rel="stylesheet" href="assets/css/vendor/perfect-scrollbar.css" />
    <link rel="stylesheet" href="assets/css/vendor/smart_wizard.min.css" />
    <link rel="stylesheet" href="assets/css/vendor/bootstrap-tagsinput.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <!-- <link rel="stylesheet" href="assets/css/bootstrap.css" /> -->
</head>

<body id="app-container" class="menu-default show-spinner">

    <div class="container-fluid">
        <!-- <div class="row">
            <div class="col-12">
                <h1>Form Wizard</h1>
                <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                    <ol class="breadcrumb pt-0">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Library</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Data</li>
                    </ol>
                </nav>
                <div class="separator mb-5"></div>
            </div>
        </div> -->

        <div class="row">
            <div class="col-6 mb-4" style="margin-left: 25%;margin-top:5%">
                <div class="amean-logo">
                    <img src="assets/images/amean_logo.png" alt="AMEAN Danışmanlık" style="width: 20%;margin-left:40%">
                </div>
                <div class="card mb-4">
                    <div id="smartWizardValidation">
                        <ul class="card-header" style="justify-content: space-around;">
                            <li id="step_name_0"><a href="#step-0">Adım 1<br /><small>Dersleri Seç</small></a></li>
                            <li id="step_name_1"><a href="#step-1">Adım 2<br /><small>Konuları Seç</small></a></li>
                            <li id="step_name_2"><a href="#step-2">Adım 3<br /><small>Test Ayarları</small></a></li>
                        </ul>

                        <div class="card-body">
                            <div id="step-0">
                                <div id="form-step-0" class="tooltip-label-right" novalidate>
                                    <h2 style="margin-left:12.5%;color:var(--theme-color-1);">Hangi dersleri çözmek istersin ?</h2>
                                    <div class="row">
                                        <div class="mb-4 col-6" style="font-size:20px;color:#555">
                                            <div class="custom-control custom-checkbox" style="margin-left:25%;padding-bottom:5px;">
                                                <input type="checkbox" id="matematik_checkbox" name="lessons"class="custom-control-input">
                                                <label class="custom-control-label" for="matematik_checkbox">Matematik</label>
                                            </div>
                                            <div class="custom-control custom-checkbox" style="margin-left:25%;padding-bottom:5px;">
                                                <input type="checkbox" id="fizik_checkbox" name="lessons"class="custom-control-input">
                                                <label class="custom-control-label" for="fizik_checkbox">Fizik</label>
                                            </div>
                                            <div class="custom-control custom-checkbox" style="margin-left:25%;padding-bottom:5px;">
                                                <input type="checkbox" id="biyoloji_checkbox" name="lessons"class="custom-control-input">
                                                <label class="custom-control-label" for="biyoloji_checkbox">Biyoloji</label>
                                            </div>
                                        </div>
                                        <div class="mb-4 col-6" style="font-size:20px;color:#555">
                                            <div class="custom-control custom-checkbox" style="margin-left:25%;padding-bottom:5px;">
                                                <input type="checkbox" id="kimya_checkbox" name="lessons"class="custom-control-input">
                                                <label class="custom-control-label" for="kimya_checkbox">Kimya</label>
                                            </div>
                                            <div class="custom-control custom-checkbox" style="margin-left:25%;padding-bottom:5px;">
                                                <input type="checkbox" id="turkce_checkbox" name="lessons"class="custom-control-input">
                                                <label class="custom-control-label" for="turkce_checkbox">Türkçe</label>
                                            </div>
                                            <div class="custom-control custom-checkbox" style="margin-left:25%;padding-bottom:5px;">
                                                <input type="checkbox" id="tarih_checkbox" name="lessons"class="custom-control-input">
                                                <label class="custom-control-label" for="tarih_checkbox">Tarih</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="step-1">
                                <form id="form-step-1" class="tooltip-label-right" novalidate>
                                    <div class="form-group position-relative error-l-75">
                                        <label for="name">First Name</label>
                                        <input type="text" class="form-control" name="nameValidation"
                                            id="nameValidation" placeholder="Your first name" required>
                                    </div>
                                    <div class="form-group position-relative error-l-75">
                                        <label for="lastName">Last Name</label>
                                        <input type="text" class="form-control" name="lastNameValidation"
                                            id="lastNameValidation" placeholder="Your last name" required>
                                    </div>
                                </form>
                            </div>
                            <div id="step-2">
                                <h4 class="text-center">Thank you for your feedback!</h4>
                                <p class="muted text-center p-4">
                                    Podcasting operational change management inside of workflows to establish a
                                    framework. Taking seamless key performance indicators offline to maximise the
                                    long tail. Keeping your eye on the ball while performing a deep dive on the
                                    start-up mentality.
                                </p>
                            </div>
                            <p id="hata_text" style="color:#d31616;font-size:17.5px;text-align:center"></p>
                        </div>

                        <div class="btn-toolbar custom-toolbar text-center card-body pt-0">
                            <button class="btn btn-secondary" type="button" id="prev_button">Geri</button>
                            <button class="btn btn-secondary" type="button" id="next_button">İleri</button>
                            <button class="btn btn-secondary" type="button" id="submit_button">Gönder</button>
                        </div>
                    </div>
                </div>
                <div style="padding-top: 10px;text-align:center;color:rgb(180, 180, 180)">
                    <p>AMEAN Consultancy - Versiyon 1.0.0</p>
                </div>
            </div>
        </div>
    </div>

    <script src="assets/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendor/perfect-scrollbar.min.js"></script>
    <script src="assets/js/vendor/bootstrap-tagsinput.min.js"></script>
    <script src="assets/js/vendor/jquery.smartWizard.min.js"></script>
    <script src="assets/js/vendor/jquery.validate/jquery.validate.min.js"></script>
    <script src="assets/js/vendor/jquery.validate/additional-methods.min.js"></script>
    <script src="assets/js/dore.script.js"></script>
    <script src="assets/js/scripts.js"></script>
    <script src="assets/js/index.js"></script>

</body>

</html>