<!doctype html>
<html lang="en">
  <head>
  	<title>AMEAN Akademi | Giriş Yap</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="assets/css/login-register/css/style.css">

    <!-- CRPYTO JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>

	<script src="https://kit.fontawesome.com/f70679fb39.js" crossorigin="anonymous"></script>

<link rel="shortcut icon" href="../assets/images/amean_logo.png" type="image/x-icon">
	<link rel="apple-touch-icon" type="image/x-icon" href="assets/img/apple-touch-icon-57x57-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="../assets/images/amean_logo.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="../assets/images/amean_logo.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="../assets/images/amean_logo.png"></head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<form action="/login/manual" method="post">
				<div class="row justify-content-center">
					<div class="col-md-6 text-center mb-5">
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-6 col-lg-5">
						<div class="login-wrap p-4 p-md-5">
					<div class="d-flex align-items-center justify-content-center">
						<img src="assets/images/amean_logo.png" alt="AMEAN DANIŞMANLIK" style="width:50%;">
					</div>
					<h3 class="text-center mb-4">A-mean Danışmanlık</h3>
					<div style="padding-top: 10px;text-align:center;color:rgb(199, 23, 23)">
						<p id="hata_text"></p>
					</div>
					<div class="form-group">
						<input type="email" class="form-control rounded-left" placeholder="Emailiniz" required  id="school_no_input" name="email">
					</div>
					<div class="form-group d-flex">
					<input type="password" class="form-control rounded-left" placeholder="Şifreniz" required  id="password_input" name="sifre">
					</div>
					<div class="form-group d-md-flex">
						
					</div>
					<div class="form-group" style="display: flex;justify-content:space-around;align-items:center">
						<button type="button" class="btn btn-primary rounded p-3 px-3 " onclick="window.location.replace('/register')">Hesap Oluştur</button>
						<button type="submit" class="btn btn-primary rounded p-3 px-5 " id="login_button">Giriş Yap</button>
					</div>
				</div>
				<div style="padding-top: 10px;text-align:center;color:rgb(180, 180, 180)">
					<p>AMEAN Danışmanlık - Versiyon 1.0.0</p>
				</div>
					</div>
				</div>
			</form>
		</div>
	</section>

	<script src="assets/css/login-register/js/jquery.min.js"></script>
  <script src="assets/css/login-register/js/popper.js"></script>
  <script src="assets/css/login-register/js/bootstrap.min.js"></script>
  <script src="assets/js/login.js"></script>

	</body>
</html>

