<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
</head>
<body>
    
    <h1>Kullanici Sayfasi</h1>

    <h2> Hoş Geldiniz <span id="name">İsim</span> <span id="surname"> Soyisim</span>,</h2>
    <p>Okul no : <span id="school_no"> - </span></p>
    <p>Şifre   : <span id="password">  - </span></p>

    <script src="../assets/js/profil.js"></script>

</body>
</html>