<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
<script src="https://kit.fontawesome.com/f70679fb39.js" crossorigin="anonymous"></script>

<link rel="shortcut icon" href="../assets/images/amean_logo.png" type="image/x-icon">
	<link rel="apple-touch-icon" type="image/x-icon" href="assets/img/apple-touch-icon-57x57-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="../assets/images/amean_logo.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="../assets/images/amean_logo.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="../assets/images/amean_logo.png"></head>
<body>
    
    <h1>Kullanici Sayfasi</h1>

    <h2> Hoş Geldiniz <%= user.isim %>  <%= user.soyisim %> </h2>
    <p>Okul no :  <%= user.email %> </p>
    <p>Şifre   :  <%= user.sifre %> </span></p>

    <script src="../assets/js/profil.js"></script>

</body>
</html>