<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
</head>
<body>
    
    <h1>Kullanici Sayfasi</h1>

    <h2> Hoş Geldiniz <%= user.isim %>  <%= user.soyisim %> </h2>
    <p>Okul no :  <%= user.okul_no %> </p>
    <p>Şifre   :  <%= user.sifre %> </span></p>

    <script src="../assets/js/profil.js"></script>

</body>
</html>