<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A-MEAN Danışmanlık</title>

    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="shortcut icon" type="image/png" href="./images/amean_logo_icon.png" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
    <script type="text/javascript">
        (function() {
            emailjs.init("user_uyLVTmVps5T9THZorWCSm");
        })();
    </script>
</head>

<body>

    <div class="logo">
        <img src="assets/images/amean_logo_durmus.png" alt="AMEAN LOGO" class="logo_img" width="200px">
    </div>
    <!-- Main page -->
    <div class="main" id="questionCard">

        <!--------------------------------
            LOGİN PAGE
         ----------------------------------->

        <p id="" class="resultText" style="color: black;">Hoş Geldiniz</p>
        <p id="bug" class="" style="color:red;font-size:15px"></p>

        <div class="login-box">
            <div class="user-box">
                <input type="text" name="" required="" id="student_name">
                <label>Adınız : </label>
            </div>
            <div class="user-box">
                <input type="text" name="" required="" id="student_surname">
                <label>Soyadınız :</label>
            </div>
            <div class="user-box">
                <input list="grades" name="" required="" id="student_grade">
                <datalist id="grades">
                    <option value="6. Sınıf">
                    <option value="7. Sınıf">
                    <option value="8. Sınıf">
                    <option value="Lise 1">
                    <option value="Lise 2">
                    <option value="Lise 3">
                    <option value="Lise 4">
                    <option value="Mezun">
                </datalist>
                <label>Sınıfınız : </label>
            </div>

            <a href="#" onclick="login() ">
                <span></span>
                <span></span>
                <span></span>
                <span></span> Devam Et
            </a>

            <a href="#" class="quest" onclick="guestLogin() ">
                <span></span>
                <span></span>
                <span></span>
                <span></span> Misafir
            </a>
        </div>

        <!--------------------------------
            QUESTİON PAGE
            <div class="wrapper " id="pages ">
            <span id="quizNumber "> - </span>
        </div>



        <div class="results " id="pages ">
            <span id="results "> - </span>
        </div> 
        
        
        <div class="quiz-questions " id="display-area ">
            <p id="kronometre " style="font-size: 20px; ">Kronometre</p>
            <p id="question " class="questionText "></p>
            <ul id="answer ">
            </ul><p id="question " class="questionText ">
                </p>

                <div class="answerField ">
                    <p width="20% " class="answerLabel ">Cevap: </p>
                    <input type="number " class="answer " id="studentAnswer ">
                </div>
                <div id="quiz-results ">
                    <button type="button " name="button " class="submit " id="submit " onclick="buttonHandler() ">Atla</button>
                </div>
        </div>
        <input type="number " class="answer " id="studentAnswer ">

        <div id="quiz-results ">
            <button type="button " name="button " class="submit " id="submit " onclick="getAnswer() ">Cevapla</button>
        </div> -->



        <!--------------------------------
        RESULT PAGE
       <div class="quiz-questions " id="display-area ">
           <p id="kronometre " class=" ">Kronometre</p>
           <p id=" " class="userNameText ">-</p>
           <p id=" " class="resultText ">Puanınız</p>
           <p id=" " class="resultMiniText ">' + (((trueCount / totalQuestionCount) / calculateMinuteNumber()) * 10000).toFixed(0) + '</p>
                <div id="quiz-results ">
                    <button type="button " name="button " class="submit " id="submit " onclick="window.location.reload(true) " style="margin-right:2px; ">Tekrarla</button>
                    <button type="button " name="button " class="submit " id="submit " onclick="downloadResult(); " style="margin-left:2px; ">SONUCU İNDİR</button></div>
                </div>
         ----------------------------------->

    </div>

    </div>

    <!-- <canvas id="canvas "></canvas> -->

    <div class="footer ">
        <p>Bu Sitenin Tüm Hakları <a href="https://www.durmuskartci.com/ ">Durmuş Kartcı</a> & <a href="https://www.eminkartci.com/ ">Emin Kartcı</a> Tarafından Saklıdır</a>
        </p>
    </div>




    <script src="assets/js/html2canvas.js "></script>
    <script src="assets/jsscript.js "></script>
    <script src="assets/jsquestion_types.js"></script>
</body>

</html>